<h1>EDIT PAGE</h1>
<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>
<%= render 'display_task', task: @task %>
<p><%= link_to "Delete", destroy_task_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
